<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xmission.trevin.android.todo"
    android:installLocation="auto"
    android:targetSandboxVersion="1"
    android:versionCode="1040301"
    android:versionName="1.4.3">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- New permission added in Pie (SDK 28) -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- More granular permission as of Upside-down Cake (SDK 34) -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <!-- We only need permission to vibrate through Nougat (SDK 25).
         Starting with Oreo (26), vibrating is a part of system
         notification settings. -->

    <uses-permission android:name="android.permission.VIBRATE"
        android:maxSdkVersion="25"/>

    <!-- Dangerous permission: as of SDK 23, this is not granted at
         install time but must be requested at runtime through
         Activity.requestPermissions(String,int).  See:
         https://developer.android.com/reference/android/app/Activity#requestPermissions(java.lang.String[],%20int)
         Starting with Nougat (SDK 25), we instead use Storage Access Framework
         which does not require this permission. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="25"/>

    <!-- Dangerous(??) permission: as of SDK 33, this is not granted at
         install time but must be requested at runtime — ideally the
          *first* time the user tries to set an alarm.  See:
          https://developer.android.com/develop/ui/views/notifications/notification-permission -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Minimum = Ice Cream Sandwich (Android 4.0.1).
         currently tracking Snow Cone (Android 12).
	 Pie [28] requires migration from appcompat to androidx,
	 as well as replacement of LoaderCallbacks.
         No other changes are anticipated through SDK [35]. -->

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="34"/>

    <!-- For data extraction rules, see: https://developer.android.com/about/versions/12/behavior-changes-12#backup-restore -->
    <!-- For full backup content, see: https://developer.android.com/identity/data/autobackup#Files -->

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@drawable/icon"
        android:roundIcon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light.WithActionBar"
        tools:targetApi="34">

        <activity
            android:name=".ui.ToDoListActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <provider android:name=".provider.ToDoProvider"
                  android:authorities="com.xmission.trevin.android.todo.provider.ToDoSchema"
                  android:exported="false">
        </provider>

        <activity android:name=".ui.CategoryListActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo.category"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ExportActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.settings.SYNC_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ImportActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.settings.SYNC_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.PreferencesActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.settings.APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ToDoDetailsActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ToDoNoteActivity"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <service android:exported="false"
                 android:label="@string/service_name_password_change"
                 android:name=".service.PasswordChangeService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_alarm"
                 android:name=".service.AlarmService"
                 android:directBootAware="true"
                 android:foregroundServiceType="dataSync">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_import_palm"
                 android:name=".service.PalmImporterService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_import_xml"
                 android:name=".service.XMLImporterService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_export"
                 android:name=".service.XMLExporterService">
        </service>

        <receiver android:name=".receiver.AlarmInitReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
