<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xmission.trevin.android.todo"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.2.2">
    <!-- Add for API level 29:
    android:targetSandboxVersion="1"
      -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Dangerous permission: as of SDK 23, this is not granted at
         install time but must be requested at runtime through
         Activity.requestPermissions(String,int).  See:
         https://developer.android.com/reference/android/app/Activity#requestPermissions(java.lang.String[],%20int) -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Dangerous(??) permission: as of SDK 33, this is not granted at
         install time but must be requested at runtime — ideally the
          *first* time the user tries to set an alarm.  See:
          https://developer.android.com/develop/ui/views/notifications/notification-permission -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Minimum = Froyo (Android 2.2).
         Target WAS Ice Cream [15] (Android 4.03);
         currently tracking Marshmallow [23] (Android 6.0).
         Requires programmatic handling of permissions.
         SDK [26] requires change in Toast handling.
         No other changes are anticipated through SDK [35]. -->

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="23"/>

    <!-- For data extraction rules, see: https://developer.android.com/about/versions/12/behavior-changes-12#backup-restore -->
    <!-- For full backup content, see: https://developer.android.com/identity/data/autobackup#Files -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light.WithActionBar"
        tools:targetApi="23">
        <!-- Add for API level 26:
        android:appCategory="productivity"
          -->
        <!-- Add for API level 31:
        android:dataExtractionRules="@xml/data_extraction_rules"
          -->
        <!-- No idea which API level added these attributes:
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
          -->

        <activity
            android:name=".ToDoListActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <provider android:name="ToDoProvider"
                  android:authorities="com.xmission.trevin.android.todo.ToDo">
        </provider>

        <activity android:name="CategoryListActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo.category"/>
            </intent-filter>
        </activity>

        <activity android:name="ExportActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.settings.SYNC_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name="ImportActivity"
                  android:exported="false"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.settings.SYNC_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name="PreferencesActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.settings.APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity android:name="ToDoDetailsActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <activity android:name="ToDoNoteActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
            </intent-filter>
        </activity>

        <service android:exported="false"
                 android:label="@string/service_name_password_change"
                 android:name=".PasswordChangeService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_alarm"
                 android:name=".AlarmService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_import_palm"
                 android:name=".PalmImporterService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_import_xml"
                 android:name=".XMLImporterService">
        </service>

        <service android:exported="false"
                 android:label="@string/service_name_export"
                 android:name=".XMLExporterService">
        </service>

        <receiver android:name=".AlarmInitReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
